.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-right {
	font-size:(13/10)*1rem;
	width:(25/13)*1em;
}
.icon-bitcoin {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-eth {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-eye {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-facebook {
	font-size:(16/10)*1rem;
	width:(9/16)*1em;
}
.icon-instagram {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-logo {
	font-size:(192.7/10)*1rem;
	width:(76.8/192.7)*1em;
}
.icon-twitter {
	font-size:(14/10)*1rem;
	width:(16/14)*1em;
}
.icon-vk {
	font-size:(10/10)*1rem;
	width:(16/10)*1em;
}
.icon-youtube {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
