
	// start .sForm
	.sForm {
		position: relative;
		z-index: 2;
				@include media-breakpoint-up(lg) {

					padding-bottom: 0 !important;
				}
		.section-title{
			h2{
				margin-bottom: rem(20);
			}
			p{
				@extend .h6;
				max-width: rem(490);
				font-weight: normal;
				line-height: (28 / 20);

			}
			@include media-breakpoint-down(md) {
				margin-left: auto;
				margin-right: auto;
				max-width: rem(480);
				p{
					margin-left: auto;
					margin-right: auto;
					max-width: rem(400);
				}
			}
		}
		&__left-col{

			color: #ffffff;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
			background-color: #192d46;
			.form-wrap{
				&__title-top {
					margin-left: auto;
					margin-right: auto;
					max-width: rem(420);
					font-weight: 500;
					@include media-breakpoint-down(xs) {
						font-size: 18px;
					}
				}
				background-color: #ffffff;
				@include media-breakpoint-up(xl) {
					
					margin-top: rem(20);
					padding: rem(24) rem(44) rem(65);
				}
				@include media-breakpoint-up(lg) {
					margin-left: auto;
					max-width: rem(554);
					margin-right: 0;
					padding: rem(24) rem(30) rem(65);
					margin-bottom: rem(60);
				}
				margin-left: -20px;
				margin-right: -20px;
				padding: rem(24) 20px rem(65);
				box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
				border-radius: 10px;
				.btn{
					padding: rem(16);
				}
			
			}
			.custom-select-wrap{
				margin-bottom: 1rem;
			}
			.custom-select-wrap .chosen-single,
			.chosen-container .chosen-results li{
				padding: rem(15) rem(15);
			}
			.disabled-result{
				display: none !important;
			}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sForm