mixin sAdvantages()
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 SKY CRYPTO&nbsp;&mdash; лучший сервис по&nbsp;покупке, обмену и&nbsp;хранению криптовалюты
				
			.row
				mixin item(i,t,p)
					+e.col.col-md-6
						+e.item
							+e.img-wrap
								img(src=`img/svg/sAdvantages-${i}.svg`, alt="")
							+e.text-wrap
								+e.title!= t
								+e.text!= p
				+item('1','Безопасность','SKY CRYPTO защищает все сделки. Платформа блокирует криптовалюту на&nbsp;счету продавца во&nbsp;время сделки')
				+item('2','Поддержка 24/7','Наша поддержка круглосуточно работает для вас и&nbsp;быстро поможет решить спорный вопрос')
				+item('3','P2P-обмен','У&nbsp;каждого пользователя свой блокчейн-кошелек, который можно использовать для обмена на&nbsp;сайте или в&nbsp;боте')
				+item('4','Низкие комиссии <br> за&nbsp;обмен','0,5% при продаже и&nbsp;1% при покупке через веб-платформу или бота')
				+item('5','Переводы внутри системы без комиссий','Пользователи не&nbsp;платят за&nbsp;перевод криптовалюты внутри системы SKY CRYPTO')
		+e.btn(href="#")
			+icon('logo')
			| Создать SKY-кошелек
	// end sAdvantages

	
mixin sAdvantages2()
	// start sAdvantages
	+b.SECTION.sAdvantages.bg-light.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Ключевые преимущества
				
			.row
				mixin item(i,t,p)
					+e.col.col-xl-3.col-sm-6
						+e.item--sky
							+e.img-wrap
								img(src=`img/svg/sAdvantages-2-${i}.svg`, alt="")
							+e.text-wrap
								+e.title!= t
								+e.text!= p
				+item('1',`Анонимность при&nbsp;использовании`,`SKY CRYPTO защищает все сделки. Платформа блокирует криптовалюту на&nbsp;счету продавца во&nbsp;время сделки`)
				+item(`2`,`Даже если&nbsp;нет биткоина`,`Наша поддержка круглосуточно работает для вас и&nbsp;быстро поможет решить спорный вопрос`)
				+item(`3`,`Обеспечение  <br> защиты`,`0,5% при продаже и&nbsp;1% при покупке через веб-платформу или бота`)
				+item(`4`,`Простая <br>  интеграциян`,`Пользователи не&nbsp;платят за&nbsp;перевод криптовалюты внутри системы SKY CRYPTO`)
	 
		+e.btn.btn-warning(href="#") Подключить
	// end sAdvantages


mixin sAdvantages7()
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Возможности P2P-обменника
			.row
				mixin item(i,t,p)
					+e.col.col-xl-3.col-sm-6
						+e.item--sky
							+e.img-wrap
								img(src=`img/svg/sAdvantages-7-${i}.svg`, alt="")
							+e.text-wrap
								+e.title!= t
								+e.text!= p
				+item('1',`Скорость <br> обработки`,`Самая быстрая скорость обработки заявок, среднее время закрытия сделки&nbsp;&mdash; 6&nbsp;минут`)
				+item(`2`,`Отсутствие лимитов и&nbsp;регистрации`,`Поиск встречных заявок по&nbsp;выбранным параметрам &mdash; создавайте сделки без минимального лимита и&nbsp;регистрации`)
				+item(`3`,`Оценка <br>  контрагента`,`Возможность оценить степень надежности контрагента&nbsp;&mdash; вы&nbsp;видите сколько дней контрагент в&nbsp;сервисе и&nbsp;какое количество положительных сделок он&nbsp;провел`)
				+item(`4`,`Удобный фильтр заявок`,`Фильтрация предложений по&nbsp;параметрам&nbsp;&mdash; указывайте удобный для вас способ оплаты и&nbsp;необходимую сумму в&nbsp;рублях или криптовалюте`)
	 
		+e.btn.btn-warning(href="#") Зарегистрироваться
	// end sAdvantages
mixin sAdvantages8()
	// start sAdvantages
	+b.SECTION.sAdvantages--phone.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Преимущества использования SKY-бота
			.row
				mixin item(i,t,p)
					+e.col.col-xl-3.col-sm-6
						+e.item--sky
							+e.img-wrap
								img(src=`img/svg/sAdvantages-8-${i}.svg`, alt="")
							+e.text-wrap
								+e.title!= t
								+e.text!= p
				+item('1',`Удобен <br> в использовании`,`Моментальное реагирование SKY-бота на&nbsp;ваши действия`)
				+item(`2`,`Переводы внутри Telegram`,`Отправляйте криптовалюту любому пользователю Telegram`)
				+item(`3`,`Моментальная <br> покупка`,`Завести кошелек в&nbsp;SKY-боте не&nbsp;займет более 5&nbsp;минут`)
				+item(`4`,`Защита каждой <br> стороны сделки`,`Продавайте или покупайте криптовалюту&nbsp;&mdash; SKY-бот проконтролирует чистоту сделки`)
	 
		+e.btn.btn-primary(href="#") 
			+icon("telegram")
			| Перейти в SKY-бот
	// end sAdvantages
