mixin sAbout()
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.wrap
				h2 SKY PAY для вашего бизнеса
				img.res-i(src="img/svg/about-img.svg", alt="")
				p Сервис SKY PAY позволяет интернет-магазинам принимать оплату в&nbsp;биткоинах и&nbsp;эфириуме. Все предельно просто: покупатель выбирает удобный способ оплаты и&nbsp;переводит деньги продавцу, которые перечисляет биткоины на&nbsp;кошелек интернет-магазина. 

				p Подключайте SKY PAY и&nbsp;принимайте оплату в&nbsp;криптовалюте. Мы&nbsp;позаботимся о&nbsp;том, чтобы вам было комфортно и&nbsp;выгодно. Покупатель платит рублями более 10&nbsp;способами, а&nbsp;магазин получает криптовалюту&nbsp;&mdash; биткоин или эфириум.
				+e.btn(href="#")
					| Подробнее 
					+icon("arrow-right")
	// end sAbout