mixin sAbout()
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.wrap
				h2 SKY PAY для вашего бизнеса
				img.res-i(src="img/svg/about-img.svg", alt="")
				p Сервис SKY PAY позволяет интернет-магазинам принимать оплату в&nbsp;биткоинах и&nbsp;эфириуме. Все предельно просто: покупатель выбирает удобный способ оплаты и&nbsp;переводит деньги продавцу, которые перечисляет биткоины на&nbsp;кошелек интернет-магазина. 

				p Подключайте SKY PAY и&nbsp;принимайте оплату в&nbsp;криптовалюте. Мы&nbsp;позаботимся о&nbsp;том, чтобы вам было комфортно и&nbsp;выгодно. Покупатель платит рублями более 10&nbsp;способами, а&nbsp;магазин получает криптовалюту&nbsp;&mdash; биткоин или эфириум.
				+e.btn(href="#")
					| Подробнее 
					+icon("arrow-right")
	// end sAbout

	
mixin sAbout2()
	// start sAbout
	+b.SECTION.sAbout--top.section#sAbout&attributes(attributes)
		.container
			+e.wrap--2
				h2 Почему онлайн-бизнес выбирает SKY PAY?
				p SKY CRYPTO постоянно растет и&nbsp;совершенствуется с&nbsp;главной целью&nbsp;&mdash; облегчить процесс транзакций электронной торговли. Мы&nbsp;всегда рады помочь нашим клиентам в&nbsp;любых вопросах, которые у&nbsp;них есть.
				img.res-i(src="img/svg/about-img2.svg", alt="")
				+e.btn(href="#") Смотреть демо
	// end sAbout

	
mixin sAbout2-2()
	// start sAbout
	+b.SECTION.sAbout--footer.section.bg-light#sAbout&attributes(attributes)
		.container
			+e.wrap--2
				h2 Без комиссий сети и&nbsp;подтверждения сделок
				p Для конечного пользователя все происходит максимально комфортно, быстро и&nbsp;бесплатно.
				img.res-i(src="img/svg/about-img2-2.svg", alt="")
				+e.btn.btn-warning(href="#") Подключить
	// end sAbout


mixin sAbout6()
	// start sAbout
	+b.SECTION.sAbout--png.section#sAbout&attributes(attributes)
		.container
			.section-title.text-center
				h2 Как зарабатывать с&nbsp;SKY&nbsp;CRYPTO
			div
				+e.wrap--ref
					+e.label 1 способ
					h2 Реферальная ссылка
					+pic('ref-1.png')
					p Продвигайте свою личную ссылку в&nbsp;интернет и&nbsp;получайте до&nbsp;80% дохода от&nbsp;нашей прибыли! Вы&nbsp;можете вывести средства мгновенно, используя различные методы.

					p Например, вы&nbsp;пригласили друга и&nbsp;он&nbsp;совершил обмен на&nbsp;5&nbsp;ETH, вы&nbsp;заработаете с&nbsp;этого 0.04&nbsp;ETH сразу после успешной сделки.
				
				+e.wrap--ref
					+e.label 2 способ
					h2 Промокоды
					+pic('ref-2.png')
					p Создавайте промокоды с&nbsp;балансом в&nbsp;BTC, ETH, ETC или RUB. Все созданные промокоды хранятся в&nbsp;истории вашего личного кабинета.

					p Например, вы&nbsp;создали 5&nbsp;промокодов по&nbsp;100&nbsp;рублей, первые 5&nbsp;человек которые активируют промокод&nbsp;&mdash; получат по&nbsp;100 рублей и&nbsp;станут вашими рефералами.
				//- img.res-i(src="img/svg/ref-2.png", alt="")
			 
	// end sAbout



mixin sAbout7()
	// start sAbout
	+b.SECTION.sAbout--ceo.section#sAbout&attributes(attributes)
		.container 
			+e.wrap--ceo
				h2 Блок для СЕО текстов SKY&nbsp;CRYPTO
				p Сервис SKY PAY позволяет интернет-магазинам принимать оплату в&nbsp;биткоинах и&nbsp;эфириуме. Все предельно просто: покупатель выбирает удобный способ оплаты и&nbsp;переводит деньги продавцу, которые перечисляет биткоины на&nbsp;кошелек интернет-магазина. 

				p Подключайте SKY PAY и&nbsp;принимайте оплату в&nbsp;криптовалюте. Мы&nbsp;позаботимся о&nbsp;том, чтобы вам было комфортно и&nbsp;выгодно.
				+pic('ceo.png') 
	// end sAbout



mixin sAbout8()
	// start sAbout
	+b.SECTION.sAbout--phone.section.bg-light#sAbout&attributes(attributes)
		.container 
			+e.wrap--phone
				h2 SKY-платформа и&nbsp;SKY-бот
				p SKY BANKER и&nbsp;SKY CRYPTO связаны друг с&nbsp;другом, зарегистрировавшись в&nbsp;SKY-боте, вы&nbsp;также можете пользоваться платформой SKY CRYPTO с&nbsp;компьютера авторизовываясь через Telegram.
				+pic('about-8.png') 
				+e.btn-wrap.row
					.col-sm-6
						+e.btn.btn-warning(href="#") Зарегистрироваться
					.col-sm-6
						+e.btn.btn-primary(href="#") 
							+icon("telegram")
							| Перейти в SKY-бот
	// end sAbout



