mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		.container
			+e.img-wrap--head
				img(src="img/@2x/img-top.jpg", alt="")
			p Представители «Россетей» заявили о возросшей активности «черных» майнеров на фоне роста цены биткоина, пишет «Прайм».
			h2  Заголовок h2
			blockquote
				p «Наработана большая практика по выявлению и пресечению их деятельности. Материалы передаются в правоохранительные органы. Возбуждаются уголовные дела по статьям, предусматривающим наказание с реальным сроком лишения свободы», — заявили в компании. 
			h3 Заголовок h3
			p С 2017 года общий ущерб от деятельности выявленных «Россетями» незаконных майнинг-ферм оценивается более чем в 718 млн рублей. Напомним, в октябре «Россети» сообщали об ущербе в 600 млн рублей.

			p Подписывайтесь на новости ForkLog в Telegram: ForkLog Feed — вся лента новостей, ForkLog — самые важные новости и опросы.
			h4  Нумерованный список h4
			ol 
				li В Абхазии за неделю отключили почти 7000 майнеров;
				li Производитель ПО из США потратит почти $20 млн на покупку майнинговой фирмы;
				li Core Scientific дополнительно приобретет у Bitmain свыше 58 000 Antminer S19;
				li Партнерство Core Scientific и Foundry привлечет $23 млн в индустрию майнинга биткоина.
			h5 Маркированный список h5
			ul 
				li В Абхазии за неделю отключили почти 7000 майнеров;
				li Производитель ПО из США потратит почти $20 млн на покупку майнинговой фирмы;
				li Core Scientific дополнительно приобретет у Bitmain свыше 58 000 Antminer S19;
				li Партнерство Core Scientific и Foundry привлечет $23 млн в индустрию майнинга биткоина.
			h6 Таблица h6
			+e.table-wrap
				table
					thead 
						tr
							th Заголовок 1
							th Заголовок 2
							th Заголовок 3
					tbody
						tr
							td Заголовок 1
							td Заголовок 2
							td Заголовок 3
			p С 2017 года общий ущерб от деятельности выявленных #[a(href="#") «Россетями»] незаконных майнинг-ферм оценивается более чем в 718 млн рублей. Напомним, в октябре «Россети» сообщали об ущербе в 600 млн рублей.

			p Подписывайтесь на новости ForkLog в Telegram: ForkLog Feed — вся лента новостей, #[a(href="#") ForkLog] — самые важные новости и опросы.
			.clearfix
				+e.img-wrap--sm.float-lg-left
					img(src="img/@2x/img-small.jpg", alt="")
					+e.img-caption Рисунок 1
				p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..

				p Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.
			.clearfix
				+e.img-wrap--sm.float-lg-right
					img(src="img/@2x/img-small.jpg", alt="")
					+e.img-caption Рисунок 1
				p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..

				p Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.
			h4 Галерея
			+b.gal-slider--js.swiper-container
				.swiper-wrapper
					- for (var x = 0; x < 6; x++)
						+e.slide.swiper-slide
							+e.img-wrap(href="img/@2x/img-small.jpg" data-fancybox="gal") 
								img(src="img/@2x/img-small.jpg", alt="")
				.swiper-pagination.d-sm-none
			+e.footer
				.row
					.col
						+e.btn-back.btn-outline-primary(href="#")
							+icon("chevron-left")
							| Назад

					.col-auto
						+b.share-block.row 
							.col-auto.d-none.d-md-block Поделиться:
							.col
								<script src="https://yastatic.net/share2/share.js"></script>
								<div class="ya-share2" data-curtain data-shape="round" data-services="telegram,twitter,facebook,vkontakte"></div>
					
	// end sContent