// мобильное меню

// мобильное меню
$h: em(2);
.page-main .top-nav:not(.fixed) .toggle-menu-mobile{
	color: #ffffff;

}
.toggle-menu-mobile {
	display: block;
	height: $h* 12;
	position: relative;
	font-size: 20px;

 

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 3;
	}

	span:after {
		bottom: $h * 3;
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: 2px;
		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		transform-origin: 50% 50%;
	}

	&.on span:before {
		transform: rotate(45deg);
	}

	&.on span:after {
		transform: rotate(-45deg);
	}
}
.page-main .top-nav:not(.fixed) .menu-mobile__inner {
 background-color: #192d46;
 color: #ffffff;
 	.canvas-wrap {
 		display: block;
 		opacity: 1;
 	}
}
.menu-mobile {
	.canvas-wrap{
		display: none;
		opacity: 0;
	}
	position: fixed !important;
	z-index: 800; 
	height: 101vh; 
	top: 0;
	// left: 0;
	right: 0;
	transform: translate(0, -120%);
	@include mt(.6);
	will-change: transform;
	width: 100%;
	text-align: center;
	&__inner {
		// background-color: #c3c3c3;
		// padding: 5% 0;
		background-color: #ffffff;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		padding: rem(100) 20px;
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: -1;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	li {
		display: block;
		margin: 0; 
		margin-bottom: rem(10);
		a {
			// font-size: 16px;

			padding: 10px;
			// display: block;
			border-bottom: 1px solid transparent;
			text-decoration: none !important;
			&:hover,
			&.active{
				color: $primary;
				border-color:$primary;
			}

		}
	}
	&__footer-item{
		margin-left: auto;
		margin-right: auto;
		max-width: rem(200);
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		img{
			flex: 0 0 auto;
			margin-right: rem(10);
		}
	}
}