
.top-nav { 
	position: absolute;
	// @include clearfix;ss
	z-index: 1000;
	top: 0;
	left: 0;
	@include mt;
	padding-bottom: 10px;
	width: 100%;
	.container{
		z-index: 900;
		position: relative;
	}
	@include media-breakpoint-up(md) {

		padding-top: rem(45);
	}
	padding-top: rem(25);
	padding-bottom: rem(25);
	
	&:not(.fixed) a {
		color: #ffffff;
	}
	ul{
		a{
			color: $body-color;
		}
	}
	.top-nav__link--active{
		color: $primary !important;
		border-bottom: 1px solid currentColor;
		&:hover{
			border-color: transparent;
		}
	}
	&.fixed {
		padding-top: rem(15);
		padding-bottom: rem(15);
		position: fixed; 
		background-color: #fff;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	}

	.row {
		align-items: center;
	}

	&__logo {
		display:  flex;
		align-items: center;
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 0;
		text-decoration: none !important;
		max-width: 200px;
		@include media-breakpoint-up(sm){
			font-size: rem(26);
		}
			font-size: rem(18);
		.icon{
			color: $primary;
				margin-right: rem(10);
			@include media-breakpoint-up(sm){
			font-size: rem(45);
		}
		font-size: rem(32);
		}
		img {
			@include media-breakpoint-up(sm){

				flex: 0 0 rem(17);
				max-width: rem(17);
			}
			flex: 0 0 rem(12);
			max-width: rem(12);
		 
			margin-right: rem(10);
		}
	}

	&__nav {
		text-align: center;
		list-style-type: none;
		display: flex;
		justify-content: center;
		@include roww(15);
		margin-bottom: 0;
	}

	&__item {
		list-style-type: none;
	}

	&__link {
		text-decoration: none !important;
		border-bottom: 1px solid transparent;
		line-height: 1;

		&:hover,
		&.active {
			color: $primary !important;
			border-color: currentColor;
		}
	}

	&__btn {
		color: #ffffff !important;
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-primary;
		width: rem(85);
	}

	// 
	@include media-breakpoint-up(xl) {
		.container {

			max-width: rem(1350 + 30);
		}

		.row {
			@include roww(10);
		}
	}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
	select{
		color: $body-color;
		background: none;
		border-color: #E5E5E5;
		text-align: center !important;
		width: rem(42);
		// width: rem(82);
		text-indent: 10%;
		margin-left: auto;
		text-align: -webkit-center;
		// direction:rtl;
		-webkit-appearance: none;
		// padding-left: 0;
		// padding-right: 0;
	}
}
.custom-select-wrap--lang{
	select{
		// appearance: none !important;
	}
	select::-ms-expand {
		display: none;
	}
}
.custom-select-wrap {
	.chosen-container{
		max-width: 100%;
	}
	.chosen-container .chosen-drop{ 
		border-color:#E5E5E5;
		// box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	}
	.chosen-container-active.chosen-with-drop .chosen-single{
		background: #ffffff !important;
		border-color:#E5E5E5;
		b{
			transform: rotateX(180deg);
			position: relative;
		}
	}
	.chosen-container-single .chosen-single div{
		width: rem(45);
	}
	.chosen-container {
		min-width: 100%;
	}
	.chosen-container-single .chosen-single div b {
		@include mt;
		background-image: url(../img/svg/chevron-down.svg);
		background-position: center center;
	}
	.chosen-single {
		padding-left: rem(11);
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		height: inherit;
		display: block;
		box-shadow: none ;
		// box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
		@extend .form-control;
		background: #F3F6FA;
		// border-color: #F3F6FA;
		// background: #F3F6FA;
		span {
			display: block;
			margin: 0;
		}

	

		.chosen-drop {
			clip-path: none !important;
		}
	}
				--imgW: #{rem(30)};

				.chose-image-list,
				.chose-image-small {
					width: var(--imgW);
					height: var(--imgW);
					max-height: none;
					margin: 0;
				}

				.option-img-wrap {
					flex: 0 0 var(--imgW);
					width: var(--imgW);
					margin-right: rem(8) !important;

				}
			
	.chosen-container-single {
			&.chosen-with-drop{
				a{
					color: $body-color !important;
				}
			}
		.option-text {
			margin-right: 0;
			font-size: 1rem;
		} 
	  .chosen-search {
			display: none !important;
		}
	}
		.option-row {
			height: $input-height;
			margin: 0;
			display: flex !important;
			padding-top: 0;
			padding-bottom: 0;
			align-items: center;
		}

	.chosen-results { 
		padding: 0;
		 
		li {
			@include mt;
			padding-left: rem(11);
			&.highlighted{
			  background: #F3F6FA; 
				color: $body-color;
			}
			&.result-selected{
				display: none !important;
			} 
			border-top: 1px solid #E5E5E5; 
		}
	}
	&--currency,
	&--lang { 
		.chosen-single{
			@extend .form-control-sm;
		}
			.option-row{
				height: $input-height-sm;
			}
				.chose-image-list,
				.chose-image-small {
					width: rem(26);
					height: rem(26); 
				}

				.option-img-wrap {
					flex: 0 0 rem(26);
					width: rem(26); 

				}
	
	}

	&--lang {
		width: rem(74);
		@include media-breakpoint-down(sm) {
			width: rem(50);
			text-align: center;
			.option-img-wrap{
				margin-right: 0 !important;
			}
					.chosen-single {
						border: 1px solid #3C4C62;
					}
					.option-text{
						display: none !important;
					}
		}
		b {
			display: none !important;
		}


		.chosen-single {

			background: none;
			border-color: transparent;
		}
	}

	&--currency {
		width: rem(191);

		.chosen-container-single .chosen-single div b {
			transform: none;
			background-image: url(../img/svg/dots.svg);
			background-position: center left;
		}
 
	}
}

.chosen-container .chosen-results{
	// max-height: none;
	margin: 0;
	max-height: rem(66.7 * 4);
}

.top-nav{
	.chosen-container-single .chosen-single div{
		width: rem(20);
	}
}

.page-main .top-nav:not(.fixed) {
		select:not(:focus) { 
			color: #ffffff; 
		}
	.custom-select-wrap{
			a {

				color: #ffffff !important;
			}
			.chosen-with-drop{
				a{
					// background-color: #ffffff;
					border-color:#fff;
					color: $body-color !important;
				}
			}
		&--currency { 
			.chosen-single {
				color: #ffffff;
				background: none;
				border: 1px solid #3C4C62;
			}
		}
	}
} 

.chosen-container .chosen-results{
	color: $body-color ;
}