mixin mob-mnu() 
	+b.menu-mobile--js.d-xl-none 
		+e.inner
			#particles3-js.canvas-wrap
			+mnu()
			+e.footer
				+e.footer-item
					img(src="img/svg/bitcoin.svg", alt="")
					| 722 259.49 RUB 
				.w-100
				+e.footer-item
					img(src="img/svg/eth.svg", alt="")
					| 222 259.49 RUB
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-xl-auto.col
					+e.logo(href="/")
						+icon('logo')
						//- img(src="img/svg/logo.svg", alt="")
						+e.logo-title SKY CRYPTO
				.col.d-none.d-xl-block
					+mnu()
				.col-auto
					+b.custom-select-wrap--lang
						select.custom-select-js.form-control.form-control-sm 
							+option("Ru",'img/svg/Rus.svg')
							+option("En",'img/svg/eng.svg')
				.col-auto.d-none.d-md-block
					+b.custom-select-wrap--currency
						select.custom-select-js.form-control.form-control-sm
							
							+option("722 259.49 RUB",'img/svg/bitcoin.svg')
							+option("222 259.49 RUB",'img/svg/eth.svg')
				.col-auto
					+e.btn.link-modal(href="#modal-signUp") Вход
				.col-auto.d-xl-none
					+b.toggle-menu-mobile--js
						span
		+mob-mnu()
	// end top-nav