//- mixin videoItem()
mixin s-articals()
	// start s-articals
	+b.s-articals.section#s-articals&attributes(attributes)
		.container 
			- for (var x = 0; x < 6; x++)
				+b.item-video
					.row
						.col-lg-6
							+e.video-wrap
								<iframe width="100%" height="100%"   title="T6CaWTCqWTo" src="https://www.youtube.com/embed/T6CaWTCqWTo" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
						.col
							+e.caption
								+e.label Для телефона
								+e.title Как активировать биткоин-чек от&nbsp;telegram бота SKY BTC BANKER? Как создать промокод на&nbsp;SKY-CRYPTO.COM?
								p  Как отправить биткоин бесплатно другому пользователю? Как обналичить bitcoin? Как создать биткоин-чек который могут активировать несколько пользователей? Как начать зарабатывать на&nbsp;биткоин? В&nbsp;ролике от&nbsp;компании SKY CRYPTO, создателя ботов SKY BTC BANKER ( sky btc bot) и&nbsp;SKY ETH BANKER (sky eth bot) вы&nbsp;найдете ответы на&nbsp;эти вопросы.
				// /.item-video
			+b.btn-scroll-top--js(type='button') 
				<svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.219942 9.65507C0.513174 9.94831 0.987175 9.94831 1.28041 9.65507L9.00003 1.93549L16.7196 9.65508C17.0128 9.94831 17.4868 9.94831 17.7801 9.65508C18.0733 9.36184 18.0733 8.88784 17.7801 8.59461L9.53024 0.344769C9.38399 0.198522 9.19201 0.125013 8.99999 0.125013C8.80797 0.125013 8.61599 0.198522 8.46974 0.344769L0.219906 8.59461C-0.0732898 8.88784 -0.0732898 9.36184 0.219942 9.65507Z"  />
					</svg>

				| Наверх
	// end s-articals