.item-video{
	margin-bottom: rem(90);
	border-bottom: 1px solid #e5e5e5;
		@include media-breakpoint-up(lg){
	margin-bottom: 44px;
	padding-bottom: 22px;
}
margin-bottom: 35px;
padding-bottom: 10px;
	.row{
		// @include roww(30);
	}
	&__caption{
		@include media-breakpoint-up(xl){

			padding-left: 34px;
		}
		// margin-top: rem(5);
		padding-top: 10px;
	}
	&__video-wrap{
		@include block(554, 320);
		margin-bottom: 20px;
		border-radius: $border-radius;
		overflow: hidden;
		iframe{
			position: absolute;
			left: 0;
			top: 0;
			width: 100% !important;
			height: 100% !important;
			border: none !important;
		}
	}
	&__label{
		color: $warning;
		font-weight: 500;
		margin-bottom: 15px;

		@include media-breakpoint-up(lg){
			
			margin-bottom: rem(20);
		}
	}
	&__title{
		@extend .h5;
		line-height: (33 / 26);
		margin-bottom: rem(20);
		font-weight: 500;
	}
	p{
		color: #828890;
	}
}