mixin s-faq()
	// start s-faq
	+b.s-faq.section#s-faq&attributes(attributes)
		.container
			mixin item(t,p)
				+e.item
					+e.title!= t
					p!= p
			+item(`Как объединить аккаунты?`,`Вы&nbsp;можете объединить аккаунт sky-crypto.com и&nbsp;Telegram бота SKY BTC BANKER. Зайдите в&nbsp;ваш аккаунт на&nbsp;сайте sky-crypto.com, далее выберите Настройки&nbsp;&mdash; Безопасность&nbsp;&mdash; Привязка Telegram. Введите свой номер аккаунта из&nbsp;Telegram. Вы&nbsp;получите в&nbsp;телеграм код, введите этот код на&nbsp;сайте sky-crypto.com. Если все прошло успешно, система выберет наиболее активный аккаунт и&nbsp;сделает его на&nbsp;сайте основным.`)
			+item(`Как восстановить пароль учетной записи, если я&nbsp;его потеряю?`,`Если вы&nbsp;забыли свой пароль, мы&nbsp;сможем помочь вам восстановить его. Нажмите кнопку забыл пароль и&nbsp;введите секретное слово которое вы&nbsp;указывали при регистрации.`)
			+item(`Как объединить аккаунты?`,`Вы&nbsp;можете объединить аккаунт sky-crypto.com и&nbsp;Telegram бота SKY BTC BANKER. Зайдите в&nbsp;ваш аккаунт на&nbsp;сайте sky-crypto.com, далее выберите Настройки&nbsp;&mdash; Безопасность&nbsp;&mdash; Привязка Telegram. Введите свой номер аккаунта из&nbsp;Telegram. Вы&nbsp;получите в&nbsp;телеграм код, введите этот код на&nbsp;сайте sky-crypto.com. Если все прошло успешно, система выберет наиболее активный аккаунт и&nbsp;сделает его на&nbsp;сайте основным.`)
			+item(`Как восстановить пароль учетной записи, если я&nbsp;его потеряю?`,`Если вы&nbsp;забыли свой пароль, мы&nbsp;сможем помочь вам восстановить его. Нажмите кнопку забыл пароль и&nbsp;введите секретное слово которое вы&nbsp;указывали при регистрации.`)
			+item(`Как объединить аккаунты?`,`Вы&nbsp;можете объединить аккаунт sky-crypto.com и&nbsp;Telegram бота SKY BTC BANKER. Зайдите в&nbsp;ваш аккаунт на&nbsp;сайте sky-crypto.com, далее выберите Настройки&nbsp;&mdash; Безопасность&nbsp;&mdash; Привязка Telegram. Введите свой номер аккаунта из&nbsp;Telegram. Вы&nbsp;получите в&nbsp;телеграм код, введите этот код на&nbsp;сайте sky-crypto.com. Если все прошло успешно, система выберет наиболее активный аккаунт и&nbsp;сделает его на&nbsp;сайте основным.`)
			+item(`Как восстановить пароль учетной записи, если я&nbsp;его потеряю?`,`Если вы&nbsp;забыли свой пароль, мы&nbsp;сможем помочь вам восстановить его. Нажмите кнопку забыл пароль и&nbsp;введите секретное слово которое вы&nbsp;указывали при регистрации.`)
			+item(`Как объединить аккаунты?`,`Вы&nbsp;можете объединить аккаунт sky-crypto.com и&nbsp;Telegram бота SKY BTC BANKER. Зайдите в&nbsp;ваш аккаунт на&nbsp;сайте sky-crypto.com, далее выберите Настройки&nbsp;&mdash; Безопасность&nbsp;&mdash; Привязка Telegram. Введите свой номер аккаунта из&nbsp;Telegram. Вы&nbsp;получите в&nbsp;телеграм код, введите этот код на&nbsp;сайте sky-crypto.com. Если все прошло успешно, система выберет наиболее активный аккаунт и&nbsp;сделает его на&nbsp;сайте основным.`)
			+item(`Как восстановить пароль учетной записи, если я&nbsp;его потеряю?`,`Если вы&nbsp;забыли свой пароль, мы&nbsp;сможем помочь вам восстановить его. Нажмите кнопку забыл пароль и&nbsp;введите секретное слово которое вы&nbsp;указывали при регистрации.`)
			+b.btn-scroll-top--js(type='button') 
				<svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.219942 9.65507C0.513174 9.94831 0.987175 9.94831 1.28041 9.65507L9.00003 1.93549L16.7196 9.65508C17.0128 9.94831 17.4868 9.94831 17.7801 9.65508C18.0733 9.36184 18.0733 8.88784 17.7801 8.59461L9.53024 0.344769C9.38399 0.198522 9.19201 0.125013 8.99999 0.125013C8.80797 0.125013 8.61599 0.198522 8.46974 0.344769L0.219906 8.59461C-0.0732898 8.88784 -0.0732898 9.36184 0.219942 9.65507Z"  />
					</svg>

				| Наверх
	 
	// end s-faq